*{
    padding:0;
    margin:0;
   
}
table{
    border-collapse: collapse; 
    margin:20px 0px;
}
th,td{
    border:1px solid black;
    min-width:60px;
    max-width:150px;
    text-align: center;
    outline: none;
}
.buttons{
    margin-top: 50px;
}
.btn{
    min-width:20px;
    outline:none
}
#btn-bold{
    font-weight: bold;
 
}
#btn-italic{
    font-style: italic;
}
#btn-underline{
    text-decoration: underline;
}